body{
    background-color: #1F1F1F;
    color: #e8e5e5;
    font-family: Verdana;
}
header{
    background-color: #1B1C1E;
    margin: 0px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
}
header h1{
    margin: 15px;
    font-size: 22px;
}
.login{
    text-decoration: none;
    position: fixed;
    right: 4%;
    top: 1.5%;
    padding: 5px 18px;
    font-size: 1.1em;
    color: white;
    background-color: transparent;
    border: white solid 1px;
}
maincontent h3{
    font-size: 2em;
    text-shadow: 3px 3px grey;
    margin: 25px;
    font-weight: bold;
    background-color: #32303086;
    padding: 20px;
}
maincontent p{
    margin:70px 40px;
    margin-bottom: 40px;
    color: #e8e5e5;
    font-weight: bold ;
    font-size: 1.05em;
    background-color: #32303086;
    padding: 10px;
}
.banner.mobile {
    position:absolute ;
    display: block;
    left:0px;
    top:57px;
    width: 100%;
    z-index: -1;
}
@media screen and (min-width: 580px){
   .banner.mobile{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        top:0px;
        background-color: #8BBCFF;
        padding: 0 15%;
   }
   maincontent h3{
    margin: 0px 19%;
   }
   maincontent p{
    margin: 10% 19%;
    margin-bottom: 13%;
   }
   .signup-div{
    width: 100%;
   }
}
@media screen and (min-width: 880px){
    .banner.mobile{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        top:0px;
        background-color: #8BBCFF;
        padding: 0 15%;
   }
   maincontent h3{
    margin: 0px 28%;
   }
   maincontent p{
    margin: 10% 28%;
    margin-bottom: 20%;
   }
}
maincontent h2{
    font-size: 28px;
    color: rgb(11, 90, 112);
    text-shadow: 2px 2px rgb(39, 149, 180);
}
.signup-div{
    background-color: #8BBCFF;
    padding: 20px;
    width: 95%;
    margin-left: -10px;
}
.signup.btn{
    text-decoration: none;
    right: 2%;
    top: 1.5%;
    padding: 7px 18px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: #03767a;
    border: white solid 1px;
    margin-bottom: 40px;
}
ul{
    text-align: left;
    margin-bottom: 50px;
}
li{
    margin: 12px;
}
table{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
td{
    padding: 15px;
}
hr {
	border: 1px solid #595858;
    margin: 15px 10px;
    color: #595858
}
div.center{
    text-align: center;
}
section div h2{
    margin-top: 30px;
}
section p{
    font-size: 0.95em;
    text-align: justify;
    text-indent: 10px;
    margin: 30px 15px;
    line-height: 24px;
}

@media screen and (min-width: 1000px){
    .banner.mobile{
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        left:15%;
        right: 15%;
        top:0px;
        background-color: #8BBCFF;
   }
   maincontent h3{
    margin: 0px 37%;
    margin-top: 70px;
   }
   maincontent p{
    margin: 100px 39%;
    margin-bottom: 12%;
   }
   .signup-div{
    margin-bottom: 50px;
    width: 98.8%;
   }
   ul{
    text-align: center;
    list-style-position: inside;
    margin-left: -50px;
   }
   table{
    width: 30%;
    padding: 50px;
   }
   td img{
    width: 170px; 
   }
   td h4{
    line-height: 28px;
   }
   section{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
   }
   .login{
    right: 2%;
   }
}